---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">

<style>
.main-content img {display: block;margin: 0 auto;}
</style>

  <!--  -->
  
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
    <span class="post-categories">
  {% if post %}
    {% assign categories = post.categories %}
  {% else %}
    {% assign categories = page.categories %}
  {% endif %}
  {% for category in categories %}
  <a href="{{site.baseurl}}/categories/#{{category|slugize}}" style="color:#999;">{{category}}</a>
  {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}
</span>
       • <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}
      
      </p>
  </header> 

  <div itemprop="articleBody">
  本文首发于<b>航通社</b>，原创文章未经授权禁止转载。航通社 微信：<b>lifeissohappy</b> 微博：<b><a href="https://weibo.com/lifeissohappy/" target="_blank">@航通社</a></b>
  
    {{ content }}
    
   <img src="http://ww1.sinaimg.cn/large/4b91f9d5ly1g5sd14g37bj20rs0m8tbf.jpg" alt="欢迎订阅航通社" referrerpolicy="no-referrer"/><p>欢迎随手转发到朋友圈。寻求转载授权，请发邮件给 <a href="mailto:coop@lishuhang.me?subject=【航通社合作】请填写您的公司名称及合作事宜&body=您好！我是通过点击航通社官网下方的链接发来这封邮件。以下是我们的公司名称及具体合作事项：">coop@lishuhang.me</a> 。

  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
